$myFontFamily: "Open Sans", sans-serif;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    // font-family: "Lato", sans-serif;
    // font-family: 'Roboto Mono', monospace !important;
    // font-family: 'Merriweather', serif !important;
    font-family: 'Heebo', sans-serif !important;
    font-weight: 500 !important;
    letter-spacing: 0px;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #fbb03b ; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #fbb03b; 
      }
}

// .headPar {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     background-color: white;
//     height: 80px;
//     .logo {
//         img {
//             width: 150px;
//             width: 120px;
//             object-fit: cover;
//             cursor: pointer;
//         }
//     }
//     .menu {
//         display: flex;
//         justify-content: space-evenly;
//         width: 50%;
//         list-style-type: none;
//         font-family: $myFontFamily;
//         text-transform: uppercase;
//         font-size: 13px;
//         font-weight: 700;
//         margin-bottom: 0;
//         z-index: 1;
//         opacity: 0.9;
//         a {
//             color: rgba(0, 0, 0, 0.8);
//             text-decoration: none;
//             &:hover {
//                 color: rgba(0, 0, 0, 0.5);
//             }
//         }
//     }
// }
.Headerghost{
    height: 70px;
.headPar {
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: white;
    height: 70px;
    width: 100%;
    .logo {
        padding-left:300px;
        float: left;
        padding-top: 10px;
        img {
            width: 120px;
            object-fit: cover;
            cursor: pointer;
        }
    }
    ul{
        float: right;
        margin-right: 280px;
        li{
            display: inline-block;
            line-height: 70px;
            margin: 0px 18px;
            top: 0px;
        }
        a{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            font-family: $myFontFamily;
            cursor: pointer;
            &:hover{
                opacity: 0.7;
                transition: 0.5px;
            }
        }
        .active{
            transition: 0.5px;
        }
    }
    .checkBtn{
        float: right;
        line-height: 70px;
        margin-right: 80px;
        cursor: pointer;
        display: none;
        svg{
            font-size: 36px;
        }
    }
    #check{
        display: none;
    }
}
}



@media screen and (max-width: 1444px){
    .Headerghost{
        height: 70px;

    .headPar{
        .logo{
            padding-left: 100px;
       } 
       ul{
           margin-right: 150px;
       }
    }
    }
}


@media screen and (max-width: 1150px) /* Tablet */ {
    .Headerghost{
    height: 70px;
    .headPar{
        .logo{
            padding-left: 60px;
       } 
        .checkBtn{
            display: block;
        }
         ul{
             z-index: 99;
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgb(23, 23, 23);
            top:70px;
            left: -100%;
            text-align: center;
            transition: all 0.5s;
            li{
                display: block;
                margin: 50px 0px;
                line-height: 30px;
                a{
                    color: white;
                    font-size: 20px;
                    &:hover{
                        color: wheat;
                        transition: 0.5px;
                    }
                    
                }
            }
            
        }
        #check:checked ~ ul{
            left: 0;
        }
        .checkBtn{
            margin-right: 50px;
        }
    }
}

}


.sliderPar{
    height: 80vh;
    .slick-slider{
        // background: black;
        height: 65vh;
        .slick-list{
            position: relative;
            width: 100%;
            height: 65vh;

            img{
                width: 100%;
                height: 63vh;
                object-fit: cover;
            }
            .slideText{
                position: absolute;
                top: 40%;
                // padding-left: 500px;
                text-align: center;
                h1{
                    color: white;
                    padding-bottom:30px;
                    // font-size: 44px;
                    font-size: 6vh;
                    font-weight: 600;
                    width: 100%;
                }
                button{
                    padding: 8px 40px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: white;
                    background-color: #fbb03b ;
                    border-radius: 20px;
                    border-style: none;
                }
            }
           
        }
        
    }
}











#Swiper {
    height: 100% !important;
    .swiper-pagination-bullet-active {
        background: white;
    }
    .swiper-container {
        height: 100%;
    }
    div {
        background-repeat: no-repeat;
        background-position: center center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        // .absolute-this{
        //     font-family: $myFontFamily;
        //     font-size: $myFontFamily;
        //     background-color: rgba(255, 255, 255, 0.5);
        //     color: black;
        //     padding: 30px 40px;
        //     position: absolute;
        //     bottom: 120px;
        //     left: 100px;
        //     height: 240px;
        //     width: 100vh;

        //     h3{
        //         font-size: 34px;
        //         padding-bottom: 10px;
        //     }
        //     p{
        //         padding-bottom: 12px;
        //     }
        //     button{
        //         border: solid 1px black;
        //         padding: 5px 15px;
        //         font-weight: 600;
        //         font-size: 18px;
        //         &:hover{
        //            box-shadow: 3px 5px 6px 2px;
        //            border: solid 0px black;
        //         }
        //     }

        // }
    }
}

.introPar {
    .introText {
        text-align: center;
        h1 {
        }
        .title {
            font-size: 21px;
            font-weight: 500;
        }
    }
    .introNum {
        text-align: center;
        h1 {
            color: #c32222 !important;
            font-size: 36px;
            letter-spacing: 0;
            font-family: "PT Sans Narrow", sans-serif;
            font-weight: 600;
        }
        p {
            font-family: "PT Sans Narrow", sans-serif;
            letter-spacing: -0.5px;
            opacity: 0.7;
            font-weight: 500;
        }
    }
}

.ChancePar {
    text-align: center;
    .Title {
        font-weight: 500;
    }
    .content {
        opacity: 0.8;
        text-align: start;
        padding-top: 40px;
        .line {
            height: 1px;
            width: 50%;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: 30px;
            margin-bottom: 30px;
        }
        button {
            border: solid 1px rgba(0, 0, 0, 0.7);
            width: 93%;
            text-align: start;
            padding: 8px 35px;
            border-radius: 50px;
            border-style: dashed;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 50px;
            &:hover {
                color: white;
                background-color: #fbb03b;
                // text-shadow: 2px 2px 4px #000000;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.foodPar {
    font-family: "Lato", sans-serif;

    .title {
        padding-top: 60px;
        color: white;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .title2 {
        color: #474747;
        margin-top: 60px;
        margin-bottom: 0rem;
        padding-bottom: 5px;
        font-size: 13px;
        text-transform: uppercase;
    }
    .title3 {
        color: #474747;
        margin-top: 30px;
        margin-bottom: 0rem;
        padding-bottom: 5px;
        font-size: 12px;
        text-transform: uppercase;
    }
    .text {
        color: #8a8a8a;
        font-size: 15px;
        margin-bottom: 6px;
    }
    .Subs {
        input {
            border-style: none;
            width: 93%;
            margin-top: 25px;
            padding: 10px 20px;
            border-radius: 50px;
            background-color: #1f1f21;
            font-size: 13px;
            &:focus {
                border-style: none;
                background-color: whitesmoke;
            }
        }
        button {
            border-style: none;
            width: 93%;
            margin-top: 20px;
            font-weight: 600;
            letter-spacing: -1px;
            font-size: 14px;
            padding: 8px 0px;
            border-radius: 50px;
            background-color: #fbb03b !important;
            color: wheat;
        }
    }
    .footEnd {
        // width: 1498.89px;
        background-color: #131313;
        height: 80px;
        img {
            width: 150px;
            width: 80px;
            object-fit: cover;
            // margin-top: 15px;
            padding: 20px 0px;
        }
        .Par {
            padding: 15px 0px;
            p {
                color: #8a8a8a;
                float: right;
                margin-bottom: 0rem;
                font-size: 14px;
            }
        }
    }
}
.my-facebook-button-class{
    background-color: #fbb03b;
    padding: 5px 10px;
    border-radius: 80px;
    border-style: none;
    font-weight: 600;
    transition: padding 0.3s;
    &:hover{
        color: wheat;
        padding: 5px 16px;
    }
}

.aboutPar {
    margin-bottom: 150px;
    .aboutCover {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        width: 100%;
        opacity: 0.5;
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }
    .textPar {
        z-index: 2;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        text-align: center;
        h1 {
            padding-bottom: 20px;
        }
        h5 {
            padding-bottom: 20px;
        }
        
    }
}

.Profile{
    img{
        border-radius: 50%;
    }
}

.companyTopPar {
    .companyPar {
        margin-bottom: 150px;
        .companyCover {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
            width: 100%;
            opacity: 0.5;
            filter: blur(5px);
            -webkit-filter: blur(5px);
        }
        .textPar {
            z-index: 2;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 65%;
            text-align: center;
            h1 {
                padding-bottom: 20px;
            }
            h5 {
                padding-bottom: 20px;
            }
        }
    }

    .Box {
        height: 220px;
        overflow-y: hidden;
        transition: box-shadow 0.4s;
        padding: 18px 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:hover {
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        }

        .smTitle {
            font-size: 13px;
            font-family: $myFontFamily;
            font-weight: 700;
            letter-spacing: -0.6px;
        }
        .smDesc {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.4);
            font-weight: 600;
            font-family: $myFontFamily;
            letter-spacing: -0.6px;
        }
        svg {
            font-size: 50px;
            margin-bottom: 18px;
            color: rgba(65, 25, 25, 1);
        }
    }
    .imagePar {
        text-align: center;
        width: 100%;
        background-color: #f8f8f8;
        .imgBorder {
            border: solid 1px rgba(0, 0, 0, 0.3);
            background-color: white;
            padding: 5px 5px;
            border-radius: 6px;
            margin-top: 80px;
            img {
                cursor: pointer;
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
        .title {
            margin: 15px 0px;
            font-family: $myFontFamily;
            font-weight: 700;
        }
        .desc {
            font-size: 14px;
            opacity: 0.7;
        }
    }
    .start {
        p {
            font-size: 18px;
            opacity: 0.6;
        }
        button {
            border-style: none;
            border-radius: 20px;
            padding: 8px 40px;
            font-size: 14px;
            background-color: #fbb03b !important;
            transition: padding 0.3s;
            svg {
                font-size: 20px;
            }
            &:hover {
                color: white;
                padding: 8px 48px;
                // font-size: 14px;
                font-weight: 600;
                svg {
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
}

.infTopPar {

    .userCardPar{
        // border: 2px solid black;
        border-radius: 10px;


        -webkit-box-shadow: 1px 7px 27px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 7px 27px -7px rgba(0,0,0,0.75);
        box-shadow: 1px 7px 27px -7px rgba(0,0,0,0.75);
        margin-bottom: 80px;
        .userCard {
            padding: 20px 0px;
            border-right: 2px solid rgba(0, 0, 0, 0.2);
            h5{
                padding-bottom: 20px;
                font-family: $myFontFamily;
                font-weight: 600;
            }
            svg{
                font-size: 50px ;
                margin-bottom: 50px;
            }
            .mysvg{
                color: rgb(20, 20, 189);
            }
            .button{
                border-style: double;
                border: solid 1px rgba(0, 0, 0, 0.3);
                background-color: #fbb03b;
                padding: 0px 25px;
                color:white;
                border-radius: 10px;
                padding: 0px 10px;
                transition: all 0.5s;
                &:hover{
                    border-style: double;
                    border: solid 1px rgba(0, 0, 0, 0.3);
                    background-color: #fbb03b;
                    padding: 0px 25px;
                    color:white;
                    -webkit-box-shadow: 1px 7px 27px -5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 1px 7px 27px -5px rgba(0,0,0,0.75);
                    box-shadow: 1px 7px 27px -5px rgba(0,0,0,0.75);
                }
            }
        }
    }
    

    .infPar {
        margin-bottom: 150px;
        .infCover {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
            width: 100%;
            opacity: 0.5;
            filter: blur(5px);
            -webkit-filter: blur(5px);
        }
        .textPar {
            z-index: 2;
            position: absolute;
            top: 36%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 65%;
            text-align: center;
            h1 {
                padding-bottom: 20px;
            }
            h5 {
                padding-bottom: 20px;
            }
        }
    }

    .Box {
        height: 220px;
        overflow-y: hidden;
        transition: box-shadow 0.4s;
        padding: 18px 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:hover {
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        }

        .smTitle {
            font-size: 14px;
            font-family: $myFontFamily;
            font-weight: 700;
            letter-spacing: -0.6px;
            text-transform: uppercase;
        }
        .smDesc {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.4);
            font-weight: 600;
            font-family: $myFontFamily;
            letter-spacing: -0.6px;
        }
        svg {
            font-size: 50px;
            margin-bottom: 18px;
            color: rgba(65, 25, 25, 1);
        }
    }
    .infImg {
        position: relative;
        text-align: center;
        height: 650px;
        // width: 100%;

        transition: bottom 0.9s;
        &:hover {

            .imgBack{
                background-color: rgba(0, 0, 0, 0.9);
                z-index: -2;
                .img {
                    z-index: -1;
                    opacity: 0.2;
                }
            }
           
            transition: bottom 0.7s;
            .myAbs {
                 transition: all 0.4s;
                bottom: 300px;
                z-index: 200;
            }
            h6 {
                opacity: 0;
                color: white;
            }
            p {
                opacity: 0;
                color: white;
                font-size: 16px;
            }
        }
        .imgBack{
            .img {
                width: 100%;
                height: 480px;
                // object-fit: cover;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                z-index: -1;
            }
        }
      

        .myAbs {
            position: absolute;
            bottom: 0px;
            margin-left: 45px;
            h6 {
                font-weight: 600;
                opacity: 0.8;
                padding-top: 18px;
                padding-bottom: 16px;
            }
            p {
                align-items: center;
                font-size: 14px;
                opacity: 0.7;
                width: 89%;
            }
        }
    }
}

.BackInfPar{
    background-color:rgba(129, 230, 255, 0.1);
    height: 100vh;
        // font-family: "Lato", sans-serif;
    // font-family: 'Roboto Mono', monospace !important;
    // font-family: 'Merriweather', serif !important;
    // font-family: 'Heebo', sans-serif !important;
    font-family: 'Roboto', sans-serif;
    .headerPar{
        background-color: white;
        width: 100%;
        height: 70px;
        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 95%;
            padding-left: 30px;
            align-items: center;
            padding-top: 11px;
            .flex1{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .flex1Child{
                    margin-left: 38px;
                    font-family: $myFontFamily;
                    h3{
                        margin-bottom: 0px;
                        font-size: 22px;
                        font-weight: 600;
                    }
                    p{
                        font-size: 11px;
                        opacity: 0.7;
                        margin-bottom: 0px;
                    }
                }
                svg{
                    font-size: 24px;
                    cursor: pointer;
                }
            }

            .flex2{
                display: flex;
                flex-direction: row;
                align-items: center;
                .flex2Child2{
                   padding-right: 10px;
                   padding-top: 2px;
                   h6{
                       margin-bottom: 0px;
                       font-size: 13px;
                   }
                   p{
                       font-size: 10px;
                       opacity: 0.7;
                       margin-bottom: 0px;
                   }
                }
                img{
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            
           
        }
    }
    .BodyPar{
        .smMenu{
            h6{
                font-size: 13px;
                font-weight: 500;
            }
        }

        .ScrollPar{
            overflow-y: scroll;
            height: 78vh;
            &::-webkit-scrollbar {
                width: 3px;
              }
              
              /* Track */
              &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey; 
                border-radius: 10px;
              }
               
              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: #fbb03b ; 
                border-radius: 10px;
              }
              
              /* Handle on hover */
              &::-webkit-scrollbar-thumb:hover {
                background: #fbb03b; 
              }


            .contentPar{
                z-index: 2;
                background-color: white;
                padding: 5px 10px;
                width: 90%;
                border-radius: 10px;
                -webkit-box-shadow: 1px 6px 22px -7px rgba(0,0,0,0.75);
                -moz-box-shadow: 1px 6px 22px -7px rgba(0,0,0,0.75);
                box-shadow: 1px 6px 22px -7px rgba(0,0,0,0.75);
                margin-bottom: 30px;
                span{
                    font-size: 14px;
                    opacity: 0.6;
                }
                .flexPar{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .flex1{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        padding-left: 30px;
                        svg{
                            font-size: 30px;
                        }
                        .flex1Text{
                            
                            padding-left: 20px;
                            h6{
                                margin-bottom: 0px;
                            }
                        }
                    }
                    .flex2{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        button{
                            font-size: 12px;
                            width: 100px;
                            border-radius: 8px;
                            border-style: none;
                            padding: 2px 5px;
                            margin-bottom: 12px;
                            color:white;
                        }
                    }
                }
            }
        }
        .NextMenu{
            height: 80vh;
            width: 50%;
            background-color: rgb(2, 18, 46);
        }
        
    }
}













@media only screen and (max-width: 1200px) {
    .foodPar {
        .footEnd {
            // width: 1498.89px;
            background-color: #131313;
            height: 200px;
            text-align: center !important;
            img {
                width: 150px;
                width: 110px;
                object-fit: cover;
                // margin-top: 15px;
                padding: 20px 0px;
            }
            .Par {
                padding: 20px 0px;
                p {
                    color: #8a8a8a;
                    margin-bottom: 0rem;
                    float: none;
                }
            }
        }
    }
    .aboutPar {
        .textPar {
            top: 40%;
            p {
                display: none;
            }
        }
    }
    .companyTopPar{
        .companyPar {
            .textPar {
                top: 300px;
                p {
                    display: none;
                }
            }
        }
    }
    
    .infPar {
        .textPar {
            p {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1200px) /* Tablet */ {
    body {
        overflow-x: hidden;
    }
}
